body{
    background-color: rgb(25, 25, 25);
    color: rgb(230, 230, 230);
    font-family:Tahoma;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

h1{
    color: gold;
    font-size: 64px;
    display: inline;
}

h2 {
    font-style: italic;
    font-size: 32px;
}

h3 span { 
    background:rgb(20, 20, 20); 
    padding:0 10px; 
}

h3{
    color: rgb(201, 171, 0);
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(201, 171, 0);
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

p {
    padding-left: 1%;
}